yolov5/LICENSE filter=lfs diff=lfs merge=lfs -text
yolov5/export.py filter=lfs diff=lfs merge=lfs -text
yolov5/utils filter=lfs diff=lfs merge=lfs -text
yolov5/val.py filter=lfs diff=lfs merge=lfs -text
yolov5/hubconf.py filter=lfs diff=lfs merge=lfs -text
yolov5/setup.cfg filter=lfs diff=lfs merge=lfs -text
yolov5/README.md filter=lfs diff=lfs merge=lfs -text
yolov5/__pycache__ filter=lfs diff=lfs merge=lfs -text
yolov5/data filter=lfs diff=lfs merge=lfs -text
yolov5/exp filter=lfs diff=lfs merge=lfs -text
yolov5/models filter=lfs diff=lfs merge=lfs -text
yolov5/tutorial.ipynb filter=lfs diff=lfs merge=lfs -text
yolov5/yolov5s.pt filter=lfs diff=lfs merge=lfs -text
yolov5/CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
yolov5/detect.py filter=lfs diff=lfs merge=lfs -text
yolov5/head_datas filter=lfs diff=lfs merge=lfs -text
yolov5/runs filter=lfs diff=lfs merge=lfs -text
yolov5/train.py filter=lfs diff=lfs merge=lfs -text
